<div>
  <nav>
    <div class="nav-wrapper #311b92 deep-purple darken-4">
      <a class="brand-logo">Note App</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"
        ><i class="material-icons">menu</i></a
      >
      <ul class="right hide-on-med-and-down">
        <li><a routerLink="/notes" routerLinkActive="active-link">Notes</a></li>
        <li>
          <a routerLink="/add" routerLinkActive="active-link">Add note</a>
        </li>
        <li>
          <a routerLink="/author" routerLinkActive="active-link">Author</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav #311b92 deep-purple darken-4" id="mobile-demo">
    <li id="first-item">
      <a routerLink="/notes" routerLinkActive="active-link" #noteLink>
        Notes
        <i
          class="small material-icons white-text"
          [ngClass]="
            noteLink.classList.contains('active-link')
              ? 'active-link-image'
              : ''
          "
        >
          event_note
        </i>
      </a>
    </li>
    <li>
      <a routerLink="/add" routerLinkActive="active-link" #addNoteLink>
        Add note
        <i
          class="small material-icons white-text"
          [ngClass]="
            addNoteLink.classList.contains('active-link')
              ? 'active-link-image'
              : ''
          "
        >
          note_add
        </i>
      </a>
    </li>
    <li>
      <a routerLink="/author" routerLinkActive="active-link" #authorLink>
        Author
        <i
          class="small material-icons white-text"
          [ngClass]="
            authorLink.classList.contains('active-link')
              ? 'active-link-image'
              : ''
          "
        >
          person
        </i>
      </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
