.container {
  margin-top: 50px;
}

button {
  margin-right: 10px;
}

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: #311b92;
}

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid #311b92;
  box-shadow: 0 1px 0 0 #311b92;
}

@keyframes fade {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.success-window {
  display: block;
  margin: 80px auto;
  width: 300px;
  color: white;
  background-color: #00c853;
  font-weight: bold;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  font-size: 16px;
  animation: fade 3s linear;
}

.success-window i {
  float: left;
  margin-left: 20px;
}
